body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url("./Assets/watercolor.png");
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

#hourTitle {
  background-color: teal;
  color: whitesmoke;
  font-size: medium;
  font-weight: bold;
  text-align: center, justify;
  border-radius: 10px;
}

.jumbotron {
  text-align: center;
  background-color: grey;
  color: whitesmoke;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 10px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  ;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #5a5a5a;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.savebutton {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.savebutton i:hover {
  font-size: 25px;
  transition: all .3s ease-in-out;
}

.save-size {
  width: 40px;
}

.deletebutton {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #044e5f;
  color: white;
}

.deletebutton i:hover {
  font-size: 25px;
  transition: all .3s ease-in-out;
}

#clear {
  font-size: 20px;
  color: black;
  border-radius: 10px;
  font-weight: bold;
}